name: CI-Polaris-Basic 
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: [ self-hosted ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Polaris Scan
        uses: synopsys-sig/synopsys-action@SIGINT-1656
        env:
          DETECT_PROJECT_NAME: ${{ github.event.repository.name }}
        with:
          blackduck_url: ${{ secrets.BLACKDUCK_URL }}
          blackduck_token: ${{ secrets.BLACKDUCK_TOKEN }}
          blackduck_reports_sarif_create: 'false'
          blackduck_upload_sarif_report: 'true'
          blackduck_reports_sarif_file_path: '/Users/spurohit/Downloads/reports.sarif.json'
          github_token: 'test'
          # github_token: ${{ secrets.GITHUB_TOKEN }}
