name: CI-Polaris-Basic 
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: [ self-hosted ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Black Duck Scan
        uses: synopsys-sig/synopsys-action@error-handling-patch
        env:
          DETECT_PROJECT_NAME: ${{ github.event.repository.name }}
        with:
          blackduck_url: ${{ secrets.BLACKDUCK_URL }}
          # include_diagnostics: true
          blackduck_token: 'sdds'
          blackduck_reports_sarif_create: 'true'
          # blackduck_prComment_enabled: true
          # blackduck_upload_sarif_report: 'true'
          # blackduck_reports_sarif_file_path: '/Users/spurohit/Downloads/report.sarif.json'
          # github_token: ''
          # github_token: ${{ secrets.GITHUB_TOKEN }}
